@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash|Cormorant+Upright|Unna&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family:'Unna', serif;
	font-size: 18px;
	background-color: black;
	margin: 0px;
}
h1 {
	font-family: 'Berkshire Swash', cursive;
	font-weight: bold;
	font-size: 55px;
}
h2, h3 {
	font-family:'Cormorant Upright', serif;
	font-weight: bold;
	font-size: 25px;
	color: white; 
}
a {
	text-decoration: none;
	font-family:'Cormorant Upright', serif;
}
a:hover {
	color: black; 
}


