.btn-blue {
	background-color: rgb(255, 173, 51);
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family:'Cormorant Upright', serif;
}
.btn-blue hover {
	background-color: black;
	color: white;
}
